.titleBarAdjustedHeight {
  height: calc(
    var(
        --_section-height,
        calc(
          100dvh - var(--app-shell-header-offset, 0px) -
            var(--app-shell-footer-offset, 0px)
        )
      ) - var(--titlebar-height)
  ) !important;
  margin-top: var(--titlebar-height);
}

.headerRightItems {
  margin-left: auto;
}

.appShell main {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-4));
}

.mediaQuery {
  display: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-white);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;

  @mixin hover {
    background-color: var(--mantine-color-blue-7);
    color: var(--mantine-color-white);

    .linkIcon {
      color: var(--mantine-color-white);
    }
  }

  &[data-active] {
    &,
    &:hover {
      box-shadow: var(--mantine-shadow-sm);
      background-color: var(--mantine-color-white);
      color: var(--mantine-color-blue-filled);

      .linkIcon {
        color: var(--mantine-color-blue-filled);
      }
    }
  }
}
